# edit and change filename to .env
KAART_GEO_DB=<db with kloeke codes>
KAART_NLGIS_DB=<db with historical municipality data>
KAART_GEO_DB_HOST=<db host>
KAART_GEO_DB_USER=<db user>
KAART_GEO_DB_PASSWORD=<db password>

